# Get Started with Movie Recommendation System using Content-Based-Recommendation-Engine

In [11]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

Load the Dataset

In [13]:
df = pd.read_csv("movie_dataset.csv")

Visualize the data

In [14]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [15]:
df.describe()

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

Features or columns available in the dataset

In [16]:
print(df.columns.values)

['index' 'budget' 'genres' 'homepage' 'id' 'keywords' 'original_language'
 'original_title' 'overview' 'popularity' 'production_companies'
 'production_countries' 'release_date' 'revenue' 'runtime'
 'spoken_languages' 'status' 'tagline' 'title' 'vote_average' 'vote_count'
 'cast' 'crew' 'director']

**Feature selection**:Here we are selecting few features which are necessary like cast,genres,diretor,title and these features together known as feature set.

In [ ]:
features = ['genres', 'keywords', 'title', 'cast', 'director']

Replacing NaN values with Empty string(")

In [38]:
df['cast'].isnull().values.any()

False

Combining the multiple column values as a single string

In [39]:
def combine_features(row):
    return row['title']+' '+row['genres']+' '+row['director']+' '+row['keywords']+' '+row['cast']

Filling NaN values with empty string in dataframe

In [59]:
for feature in features:
    df[feature] = df[feature].fillna('')

Applying combine_feature method over each row of Dataframe and storing the combined string in "combined_features" column

In [40]:

df = df.fillna('')
df['combined_features'] = df.apply(combine_features, axis = 1)

Combining strings

In [47]:
print(df.loc[0, 'combined_features'])

Avatar Action Adventure Fantasy Science Fiction James Cameron culture clash future space war space colony society Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez

Feeding the combined strings to CountVectorizer() object to get the count matrix

In [60]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df['combined_features'])

To obtain cosine similarity matrix

In [42]:
cosine_sim = cosine_similarity(count_matrix)

We define two functions to get movie title from movie index and vice versa

In [43]:
def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]
def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

The next step involves identifying the title of the movie that the user is currently interested in. We then locate the index of this movie. Following this, we access the row in the similarity matrix that corresponds to this movie. This allows us to obtain the similarity scores for all other movies in relation to the current movie. 

We then iterate through all the similarity scores for that movie to create a tuple consisting of the movie index and the similarity score. This process transforms a row of similarity scores from this format - [1 0.5 0.2 0.9] to this format - [(0, 1) (1, 0.5) (2, 0.2) (3, 0.9)]. In this transformed format, each item is represented as - (movie index, similarity score).

In [44]:
movie_user_likes = "Star Trek Beyond"
movie_index = get_index_from_title(movie_user_likes)
#accessing the row corresponding to given movie to find all the similarity scores for that movie and then enumerating over it
similar_movies = list(enumerate(cosine_sim[movie_index]))

We'll sort the `similar_movies` list in descending order of similarity scores. As the most similar movie to itself is the movie itself, we'll remove the first element post-sorting.

In [45]:
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]

Next, we'll execute a loop to display the top 5 entries from the `sorted_similar_movies` list.

In [46]:
i=0
print("Top 10 similar movies to "+movie_user_likes+" are:\n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>10:
        break

Top 10 similar movies to Star Trek Beyond are:

Star Trek Into Darkness
Star Trek
Guardians of the Galaxy
Avatar
Star Trek: Insurrection
Star Wars: Episode III - Revenge of the Sith
Avengers: Age of Ultron
Star Wars: Clone Wars: Volume 1
Star Trek: Nemesis
Mad Max Beyond Thunderdome
Zathura: A Space Adventure